[submodule "1-grading-tests"]
	path = 1-grading-tests
	url = https://github.com/spbu-coding/1-grading-tests.git
[submodule "1-zishkaz"]
	path = 1-zishkaz
	url = https://github.com/spbu-coding/1-zishkaz.git
[submodule "1-Ramazanov-Amir"]
	path = 1-Ramazanov-Amir
	url = https://github.com/spbu-coding/1-Ramazanov-Amir.git
[submodule "1-MashrurIslam"]
	path = 1-MashrurIslam
	url = https://github.com/spbu-coding/1-MashrurIslam.git
[submodule "1-rudolf101"]
	path = 1-rudolf101
	url = https://github.com/spbu-coding/1-rudolf101.git
[submodule "1-danielsheh02"]
	path = 1-danielsheh02
	url = https://github.com/spbu-coding/1-danielsheh02.git
[submodule "1-kettlberry"]
	path = 1-kettlberry
	url = https://github.com/spbu-coding/1-kettlberry.git
[submodule "1-ToTTopBYxe"]
	path = 1-ToTTopBYxe
	url = https://github.com/spbu-coding/1-ToTTopBYxe.git
[submodule "1-TimPushkin"]
	path = 1-TimPushkin
	url = https://github.com/spbu-coding/1-TimPushkin.git
[submodule "1-TheDarkRisen"]
	path = 1-TheDarkRisen
	url = https://github.com/spbu-coding/1-TheDarkRisen.git
[submodule "1-esvault"]
	path = 1-esvault
	url = https://github.com/spbu-coding/1-esvault.git
[submodule "1-foreverjun"]
	path = 1-foreverjun
	url = https://github.com/spbu-coding/1-foreverjun.git
[submodule "1-SofuriHafe"]
	path = 1-SofuriHafe
	url = https://github.com/spbu-coding/1-SofuriHafe.git
[submodule "1-DelRoso"]
	path = 1-DelRoso
	url = https://github.com/spbu-coding/1-DelRoso.git
[submodule "1-michael555444"]
	path = 1-michael555444
	url = https://github.com/spbu-coding/1-michael555444.git
[submodule "1-MansurSakiev"]
	path = 1-MansurSakiev
	url = https://github.com/spbu-coding/1-MansurSakiev.git
[submodule "1-Lev0nid"]
	path = 1-Lev0nid
	url = https://github.com/spbu-coding/1-Lev0nid.git
[submodule "1-Naniduan"]
	path = 1-Naniduan
	url = https://github.com/spbu-coding/1-Naniduan.git
[submodule "1-AzimMuradov"]
	path = 1-AzimMuradov
	url = https://github.com/spbu-coding/1-AzimMuradov.git
[submodule "1-artmotika"]
	path = 1-artmotika
	url = https://github.com/spbu-coding/1-artmotika.git
[submodule "1-PyRayman"]
	path = 1-PyRayman
	url = https://github.com/spbu-coding/1-PyRayman.git
[submodule "1-MDubovik"]
	path = 1-MDubovik
	url = https://github.com/spbu-coding/1-MDubovik.git
[submodule "1-Mishavint"]
	path = 1-Mishavint
	url = https://github.com/spbu-coding/1-Mishavint.git
[submodule "1-IAmFunkyFrog"]
	path = 1-IAmFunkyFrog
	url = https://github.com/spbu-coding/1-IAmFunkyFrog.git
[submodule "1-pervomai"]
	path = 1-pervomai
	url = https://github.com/spbu-coding/1-pervomai.git
[submodule "1-ShishaK1N9"]
	path = 1-ShishaK1N9
	url = https://github.com/spbu-coding/1-ShishaK1N9.git
[submodule "1-smmac72"]
	path = 1-smmac72
	url = https://github.com/spbu-coding/1-smmac72.git
