[submodule "1-grading-tests"]
	path = 1-grading-tests
	url = https://github.com/spbu-coding/1-grading-tests.git
[submodule "1-zishkaz"]
	path = 1-zishkaz
	url = https://github.com/spbu-coding/1-zishkaz.git
[submodule "1-Ramazanov-Amir"]
	path = 1-Ramazanov-Amir
	url = https://github.com/spbu-coding/1-Ramazanov-Amir.git
[submodule "1-MashrurIslam"]
	path = 1-MashrurIslam
	url = https://github.com/spbu-coding/1-MashrurIslam.git
